:root{
    --bk-color-gen: rgb(30, 30, 30);
    --bk-color-container: rgba(30, 130, 230, 255);
    --white: whitesmoke;
    --black: rgb(10, 10, 10);;
}
* {
    margin: 0;
    padding: 0;
    background-color: var(--bk-color-gen);
}
html {
    font-size: 62.5%;
}
.conteiner{
    display: flex;
    /* align-items: center; */
    border: 4px solid transparent;
    border-image: -webkit-linear-gradient(red, blue) 110;
    box-shadow: 0 0 20px blue;
    background-color: rgb(10, 10, 10);
    width: 550px;
    height: 400px;
    margin: 4% auto 0;
    transition: 1s all;
}
.conteiner:hover {
    box-shadow: 0 0 40px purple;
}
.main {
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 40%;
}
.main form {
    background-color: var(--black);
    display: inline-block;
    /* align-items: center; */
}
.item {
    color: var(--white);
    text-align: center;
    width: 30rem;
    height: 3rem;
    margin: 0 calc(50% - 150px);
    margin-top: 3rem;
    border: none;
    border-bottom: 1px solid var(--white);
}
.item:nth-child(1)::placeholder::before {
    content: "\f007";
}
.item:nth-child(2){
    font-size: 2.2rem;
    margin-top: 5rem;
}
.item::-moz-focus-outer {
    border: none;
}
.item::placeholder {
    font-size: 1.3rem;
    text-align: center;
    text-decoration: underline;
}
.send {
    font-size: 1.8rem;
    background-color: var(--black);
    padding: 0 2rem;
    border-radius: 8px;
    margin-top: 6rem;
    display: block;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    cursor: pointer;
    transition: 1s all;
}
.send:hover {
    box-shadow: 0 0 20px rgba(37, 218, 191, 0.825), inset 0 0 14px rgba(37, 218, 191, 0.825);
    transform: scale(1.1);
    color: white;
}
/* Section social-red */
.social-red{
    position: absolute;
    top: calc(100% - 6rem);
    left: calc(50% - 11.4rem);
    display: flex;
    font-family: "FontAwesome";
  }
  .item-social {
    max-width: 30%;
  }
  .social-red li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
  }
  .social-red li a{
    text-decoration: none;
  }
  /* control sobre la silueta negra */
  .social-red li a .fa-brands {
    font-size: 4em;
    color: #222
  }
  /* control sobre la silueta de color */
  .social-red li::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4rem;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }

  .social-red li:nth-child(1)::before {
    content: "\f16d";
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%,
    #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
  }
  .social-red li:nth-child(2)::before {
    content: "\f232";
    color: #25D366;
    border-bottom: 4px solid #25D366;
  }
  .social-red li:nth-child(3)::before {
    content: "\f099";
    color: #1DA1F2;
    border-bottom: 4px solid #1DA1F2;
  }
  .social-red li:hover::before {
    height: 100%;
  }
/* footer {
    margin-top: 6%;
    display: flex;
    align-items: flex-end;
}
.social-red {
    background-color: black;
    width: 100%;
    height: 10rem;
} */